a {
    color: black;
}
a:hover,
a:focus {
    color: black;
    text-decoration: underline;
}
.row.top-row {
    padding: 20px;
}
.row.top-row h5 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
}
.mid-column .row {
    color: #000;
    display: block;
    height: 100%;
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: 400;
}
#sticky-menu {
    position: relative;
    left: 28px;
    padding-top: 6px;

}

#sticky-menu ul.c4sr-nav li a {
    font-size: 100%;
}

#nav > li > a {
    font-size: 100%;

}
#sticky-menu a:hover {
    text-decoration: underline;
}
#sticky-menu li a img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}


.nav>li>a:focus,
.nav>li>a:hover {
    background: none;
}

.nav>li>a>img {
  max-width: none;
  width: 15px;
  padding-right: 9px;
  margin-left: 30px;
}
.affix {
    top: 60px;
}
.img-padding {
    padding: 20px;
}
.body-text {
    line-height: 1.3em;
    font-size: 16px;
}

.caption  {
    line-height: 1.0em;
    font-size: 12px;

}
.body-text h5 {
    font-weight: 700;
    font-size: 18px;
    padding: 0;
}
.body-text h4 {
    font-weight: 700;
    font-size: 26px;
    padding: 0;
}
.footnote {
    display: inline;
    font-size: 66%;
    position: relative;
    top: -6px;
    padding: 0;
}
.footnote-ref {
    position: relative;
    font-size: 70%;
}

.footnote-ref-1-v {
    top: 570px;
}

.footnote-ref-2-v {
    top: 809px;
}

.footnote-ref-1-d {
    top: 488px;
}

.footnote-ref-2-d {
    top: 528px;
}

.footnote-ref-3-d {
    top: 687px;
}

.footnote-ref-4-d {
    top: 928px;
}

.footnote-ref-5-d {
    top: 1008px;
}








@media (max-width: 991px) {
    ul.c4sr-nav {
        display: none;
    }

    /* footnotes */



}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /* iphone 4 */

}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    /* iphone 5 */

.main.container {
  width: 95%;
}

 .body-text {
  line-height: 1.3em;
  font-size: 70%;
  width: 90%;
}

.body-text h5 {
  font-weight: 300;
  padding: 0;
  font-size: 130%;
}

.row.top-row h5 {
 font-size: 70%;
 font-weight: 300;
 padding: 0;
}

.row.top-row {
    padding: 0;
    border: none;
}

.img-padding {
    padding: 0;
}

.img-padding img {
    width: 95%;
    height: auto;
}


}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    /* iphone 6 */

 .body-text {
  line-height: 1.3em;
  font-size: 70%;
  width: 90%;
}

.row.top-row h5 {
 font-size: 70%;
 font-weight: 300;
 padding: 0;
}

.row.top-row {
    padding: 0;
    border: none;
}

.img-padding {
    padding: 0;
}

.img-padding img {
    width: 95%;
    height: auto;
}



}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    /* 6plus */

}

/* Navbar */

/* Navigation */
.logo {
    height: 100%;
}

#aleppo-nav {
  padding: 2px;
  color: black;
  background: white;
  letter-spacing: 0;
  border-bottom: 1px solid #000;
}

#aleppo-nav a {
    color: black;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color: transparent;
}

        .navbar-custom .navbar-brand {

        }

        .navbar-custom .navbar-brand:focus {
            outline: 0;
        }

            .navbar-custom .navbar-brand .navbar-toggle {
                color: #fff;
            }

            .navbar-custom .navbar-brand .navbar-toggle:focus,
            .navbar-custom .navbar-brand .navbar-toggle:active {
                outline: 0;
            }

            .navbar-toggle {
                color: #fff;
            }

        .navbar-custom a {
            color: #fff;
            font-size: 16px;
        }

        .navbar-custom .nav li a {
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
        }

        .navbar-custom .nav li a:hover {
            outline: 0;
            color: rgba(255,255,255,.8);
            background-color: transparent;
        }

        .navbar-custom .nav li a:focus,
        .navbar-custom .nav li a:active {
            outline: 0;
            background-color: transparent;
        }

        .navbar-custom .nav li.active {
            outline: 0;
        }

        .navbar-custom .nav li.active a {
            color: #333132;
        }

        .navbar-custom .nav li.active a:hover {
            color: #fff;
        }

        @media(min-width:767px) {
            .navbar-custom {
                padding: 20px 0;
                border-bottom: 0;
                letter-spacing: 1px;
                background: 0 0;
                -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
                -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
                transition: background .5s ease-in-out,padding .5s ease-in-out;
            }

                .navbar-custom .navbar-brand {

                }

            .navbar-custom.top-nav-collapse {
                padding: 0;
                background: transparent;
                box-shadow: 0 2px rgba(0,0,0,0.05);
            }
        }
