
/* Enclave Methods footnotes */
.footnote-ref-1-e {
	 top: 100px;
}

/*Multilingualism Footnotes*/
.footnote-ref-1-a {
	 top: 800px;
}
.footnote-ref-2-a {
	 top: 830px;
}
.footnote-ref-3-a {
	 top: 870px;
}

.footnote-ref-4-a {
	 top: 2400px;
}

/*Bayridge Footnotes*/
.footnote-ref-1-b {
	 top: 100px;
}
.footnote-ref-2-b {
	 top: 150px;
}
.footnote-ref-3-b {
	 top: 730px;
}
.footnote-ref-4-b {
	 top: 750px;
}
.footnote-ref-5-b {
	 top: 780px;
}
.footnote-ref-6-b {
	 top: 2400px;
}
.footnote-ref-7-b {
	 top: 2400px;
}
.footnote-ref-8-b {
	 top: 2400px;
}

/*language topographies footnotes*/
.footnote-ref-1-c {
	 top: 70px;
}
.footnote-ref-2-c {
	 top: 90px;
}
.footnote-ref-3-c {
	 top: 100px;
}
.footnote-ref-4-c {
	 top: 450px;
}
.footnote-ref-5-c {
	 top: 460px;
}
.footnote-ref-6-c {
	 top: 480px;
}
.footnote-ref-7-c {
	 top: 1370px;
}
.footnote-ref-8-c {
	 top: 1390px;
}
